ul {
    list-style: none;
    margin: 0;padding: 0;
}
.header{
    margin-bottom: 0;
    height: 100px; 
}
.header h2{
    width: 50%;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 20px;
}
.nav-buttons{
    width: 40%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.header .link{
    width:  50%;
margin-top: 15px;

}
.header .contener{
    padding-top: 10px;
    
}

.contener .admin-menu{
    color: #fff;
    margin-top: 25px;
    font-size: 20px;
    display: none;

}
.dashboard{
    z-index: -1;
}
.contener .fa-sort-down{
    margin: 10px;
    
}
.dropdown_manu{
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    display: none;
    position: absolute;
    width: 140px;
    top:50px;
    list-style: none;
    right: 0;
    z-index: 99999;
    margin: 0;
    padding: 0;

}  
.dropdown_manu li a {
background-color: #fff ;
padding: 10px;
font-size: 12px;
margin-top: 0;
width:  auto;
height: auto;
}
.dropdown_manu  *{
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;    
} 
.dropdown_manu a{
    color: black;
}
.rotate{
    transform: rotate(180deg) translateY(-3px);
}
.nav{
    background-color:#000;
    color: white;
    width: 14%;
    height: auto;   
}


.sub_name >span{
    font-size: 15px;
    cursor: pointer;
}
.sub_name  {
    padding: 10px;
    font-size: 12px;
}
.sub_name span i  {
    padding: 5px;
}
.sub_name a{
    color: white;
}
.sub{
    display: none;
    text-align: center;
    
     
}
.sub *{
    padding: 5px 10px;
    font-size: 12px;
}
.admin_pro span{
    padding: 0;
    cursor: pointer;
}
.admin_pro span i{
    color: black;
}

/* ===================================end dashboard==================== */
.content_pro{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.add{
    width: 60%;
    margin: 50px auto;
}
.add .link{
    float: right;
}
.add form{
    width: 80%;
    margin: 0 auto;
}
.add .contener
.view_all .contener{
    margin: 0;
    
}
.add .contener{
    margin-bottom: 100px;
}

/*=================================View all=========================== */
.view_all,
.view_all .contener{
    width: 80%;
    margin: 10px auto;
    height: 100%;
}
table{
    margin: 3% auto;
    /* border: 1px solid black; */
    border-collapse:collapse;
}

tr{
    border-bottom: 1px solid black;
    transition: transform 0.3s ease-in-out;
}
tr:hover{
    background-color: rgb(219, 219, 219);
    
    transform: scale(1.05);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}
thead tr:first-child:hover{
    background-color: #FBFBFB;
    transform: scale(1.0);
    box-shadow: 0px 0px 0px ;
}


th,
td{
    padding: 10px 5px;
    width: 5%;
    text-align: center;
    
}
td a{
    color: red;
}
td img {
    width: 50px;
    height: 50px;
}
td a:hover{
    color: black;
}

/* ===================================SELAES========================== */
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 2% 0;
} 
.counter{
    width: 23%;
    position: relative;
    border:1px solid black;
    padding: 1% 2%;
    z-index: 1;
}
.counter span{
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 20px;
    font-weight: bolder;
    z-index: 2;
    
}

.counter > i{
    color: red;
    font-size: 40px;
}
.counter p i{
    color: red;
    font-size: 20px;
    float: right;
}
.counter a{
    color: black;
}
/* ========================================profile============================= */
.profile-page-admin{
    width: 60%;
    margin: 10px auto;
}
.profile-page-admin .contact-content{
    text-align: center;
    margin-bottom: 95px;
}
.contact-content .profile_img{
    width:230px ;
    height: 230px;
    margin: 0px auto;
    border-radius: 100%;
    overflow: hidden;
}
@media screen and (max-width:1200px){
    .contener .admin-menu{
        display: block;
    }
    .nav{
        display: none;
    }
}



@media screen and (max-width:935px){

    thead{
        display: none;
    }
    table,
    table tr,
    table tbody,
    table td{
        display: block;
        width: 100%;
        
    }
    table tr{
        margin-bottom: 15px;
    }
    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        height: 40px;
    }
    table td::before{
        content: attr(data-title);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        height: 40px;
    }
    table td:nth-last-child(2),
    table td:last-child
    {
        display: block; 
        width: 50%;
    }
    



}
@media screen and (max-width: 610px ){
    
    .header h2{
    margin-top: 10px;

    }
    .nav-buttons{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 0;

    }
    .header .link{
        width: 100%;
        margin-top: 5px;
    }
    .dropdown_manu{
        top:80px;
    }  
}

@media screen and (max-width:555px){
    .view_all,
    .view_all .contener{
        width: 95%;
        margin: 10px auto;
    }

}